.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.rounded {
    border-radius: 6px;
}

.pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.space_between {
    justify-content: space-between;
}

.align_center {
    align-items: center;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.no_decoration {
    text-decoration: none;
}

.text_editor {
    height: 300px;
    margin-bottom: 115px;
}

.text_editor .ql-toolbar{
    border-radius: 6px 6px 0 0;
}

.text_editor .ql-container{
    border-radius: 0 0 6px 6px;
}

.preview_image {
    max-height: 120px;
    min-height: 120px;
}

.comment_text {
    max-height: 250px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.logo {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 8px;
    font-family: 'Bebas Neue', cursive;
}